# Build folders
bin/
obj/

# User-specific files
*.user
*.suo

# Visual Studio & IDE folders
.vs/
.vscode/
.idea/

# NuGet packages
*.nupkg
packages/

# Logs
*.log

# Configuration files that shouldn't be committed
*.env
*.secret
appsettings.Development.json

# Rider / JetBrains
*.sln.iml

# Temporary files
*.tmp
*.cache
Upscaler/models/4x_NMKD-Siax_200k.bin
Upscaler/models/4x_NMKD-Siax_200k.param
Upscaler/models/4x_NMKD-Superscale-SP_178000_G.bin
Upscaler/models/4x_NMKD-Superscale-SP_178000_G.param
Upscaler/models/4xHFA2k.bin
Upscaler/models/4xHFA2k.param
Upscaler/models/4xLSDIR.bin
Upscaler/models/4xLSDIR.param
Upscaler/models/4xLSDIRCompactC3.bin
Upscaler/models/4xLSDIRCompactC3.param
Upscaler/models/4xLSDIRplusC.bin
Upscaler/models/4xLSDIRplusC.param
Upscaler/models/4xNomos8kSC.bin
Upscaler/models/4xNomos8kSC.param
Upscaler/models/high-fidelity-4x.bin
Upscaler/models/high-fidelity-4x.param
Upscaler/models/realesr-animevideov3-x2.bin
Upscaler/models/realesr-animevideov3-x2.param
Upscaler/models/realesr-animevideov3-x3.bin
Upscaler/models/realesr-animevideov3-x3.param
Upscaler/models/realesr-animevideov3-x4.bin
Upscaler/models/realesr-animevideov3-x4.param
Upscaler/models/RealESRGAN_General_WDN_x4_v3.bin
Upscaler/models/RealESRGAN_General_WDN_x4_v3.param
Upscaler/models/RealESRGAN_General_x4_v3.bin
Upscaler/models/RealESRGAN_General_x4_v3.param
Upscaler/models/remacri-4x.bin
Upscaler/models/remacri-4x.param
Upscaler/models/ultramix-balanced-4x.bin
Upscaler/models/ultramix-balanced-4x.param
Upscaler/models/ultrasharp-4x.bin
Upscaler/models/ultrasharp-4x.param
Upscaler/models/uniscale_restore.bin
Upscaler/models/uniscale_restore.param
Upscaler/models/unknown-2.0.1.bin
Upscaler/models/unknown-2.0.1.param
Upscaler/models/upscayl-lite-4x.bin
Upscaler/models/upscayl-lite-4x.param
Upscaler/models/upscayl-standard-4x.bin
Upscaler/models/upscayl-standard-4x.param
